*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --shadow: hsl(0, 0%, 90%);
    --dark-blue: hsl(209, 23%, 22%);
    --very-dark-blue-one: hsl(207, 26%, 17%);
    --very-dark-blue-two: hsl(200, 15%, 8%);
    --dark-gray: hsl(0, 0%, 52%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

body{
    font-family: 'Nunito Sans', sans-serif;
}

.container{
    width: 2500px;
    max-width: 100%;
    margin: auto;

    .wrapper{
        padding: 20px;
    }
    .row{
        padding: 20px;
    }
}